<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingen.main">

    <application android:theme="@style/AppTheme.OverSystemBar">

        <activity android:name="com.xingen.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
